<div class="profile-div">
    <div class="row">
    <div class="col-auto">
        <h2 class="is-size-2">Welcome, {{name}}!</h2>
    </div>
    </div>

    <div class="custom-plans is-flex-direction-row">

        <h4 class="is-size-3">All Plans</h4> 
        <button class="button is-small is-primary" id='show-plans'>SHOW PLANS</button>

        {{#if plans.length}}
        
        <div class="col-md-6 plan-list">
        

        {{#each plans as |plan|}}
        <div class="row mb-2">
        <div class="col-md-8">
            <h4 class="is-size-3"><a href="/api/plans/{{plan.id}}">{{plan.plan_name}}</a></h4>
        </div>
        <div class="col-md-4">            
            <button class="button is-small is-primary" data-id="{{plan.id}}">DELETE</button>
        </div>
        </div>
        {{/each}}
        </div>
        {{else}}
        <p class="is-size-7">You don't have any personalized plans! Why not create one below?</p>
        {{/if}}

    </div>

    <form class="col-md-6 box" class="form plan-create-form" id="plan-create-form">
        <h3 class="is-size-3">Create a New Plan</h3>

        <div>
            <h3 class="is-size-4 has-text-weight-semibold">Plan Name *</h3>
            <input class="input is-info is-small" id="plan-name" type="text" placeholder="Name Your Plan">
        </div>
        <div>
            <h3 class="is-size-4 has-text-weight-semibold">First Workout *</h3>
            <input class="input is-info is-small" id="first-workout" type="text" placeholder="First Workout">
        </div>
        <div>
            <h3 class="is-size-4 has-text-weight-semibold">Second Workout *</h3>
            <input class="input is-info is-small" id="second-workout" type="text" placeholder="Second Workout">
        </div>
        <div>
            <h3 class="is-size-4 has-text-weight-semibold">Third Workout *</h3>
            <input class="input is-info is-small" id="third-workout" type="text" placeholder="Third Workout">
        </div>
        <div>
            <h3 class="is-size-4 has-text-weight-semibold">Fourth Workout</h3>
            <input class="input is-info is-small" id="fourth-workout" type="text" placeholder="Fourth Workout">
        </div>
        <div>
            <h3 class="is-size-4 has-text-weight-semibold">Fifth Workout</h3>
            <input class="input is-info is-small" id="fifth-workout" type="text" placeholder="Fifth Workout">
        </div>
        <button class="button is-black plan-create-form" type="submit" id="plan-create-form">Submit</button>
    </form>
    <div class="has-text-centered">
        <p class="is-size-7">* Denotes a required field</p>
    </div>
</div>
<script src="./js/plan.js"></script>
<script src="./js/planview.js"></script>